openapi: 3.0.3
info:
  title: Dungeon Quest API
  version: "1.0.0"
  description: >
    A simple API that allows players to create heroes, explore dungeons,
    fight monsters, collect items, and complete quests.

servers:
  - url: https://api.dungeonquest.com/v1

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []

paths:
  /auth/register:
    post:
      summary: Register a new player account
      security: []          # public: overrides the global bearerAuth requirement
      responses:
        "201":
          description: Account created successfully

  /auth/login:
    post:
      summary: Log in and receive a token
      security: []          # public: you can't have a token yet when you log in
      responses:
        "200":
          description: Login successful

  /characters:
    get:
      summary: List characters
      responses:
        "200":
          description: List of characters
    post:
      summary: Create a character
      responses:
        "201":
          description: Character created

  /characters/{characterId}:
    parameters:
      - name: characterId
        in: path
        required: true
        schema:
          type: integer
    get:
      summary: Get character details
      responses:
        "200":
          description: Character found
    put:
      summary: Update a character
      responses:
        "200":
          description: Character updated
    delete:
      summary: Delete a character
      responses:
        "204":
          description: Character deleted

  /dungeons:
    get:
      summary: List dungeons
      responses:
        "200":
          description: List of dungeons
    post:
      summary: Create a dungeon
      responses:
        "201":
          description: Dungeon created

  /dungeons/{dungeonId}:
    parameters:
      - name: dungeonId
        in: path
        required: true
        schema:
          type: integer
    get:
      summary: Get dungeon details
      responses:
        "200":
          description: Dungeon found
    put:
      summary: Update a dungeon
      responses:
        "200":
          description: Dungeon updated
    delete:
      summary: Delete a dungeon
      responses:
        "204":
          description: Dungeon deleted

  /characters/{characterId}/enter-dungeon:
    parameters:
      - name: characterId
        in: path
        required: true
        schema:
          type: integer
    post:
      summary: Enter a dungeon
      responses:
        "200":
          description: Dungeon entered

  /characters/{characterId}/move:
    parameters:
      - name: characterId
        in: path
        required: true
        schema:
          type: integer
    post:
      summary: Move to another room
      responses:
        "200":
          description: Character moved

  /characters/{characterId}/attack:
    parameters:
      - name: characterId
        in: path
        required: true
        schema:
          type: integer
    post:
      summary: Attack a monster
      responses:
        "200":
          description: Attack completed